@font-face {
  font-family: 'Barlow Semi Condensed';
  font-weight: 600;
  src: url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');
  font-display: fallback;
}
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');
  font-display: fallback;
}
